body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #082b48;
}

a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear::after {
  /* ⭕️擬似要素を追加し忘れてうまくいかなかった。もしもfloatを使用することがあるなら、このclearの使用はセットだと思うので、スニペットに登録しておいた（;fcle） */
  content: "";
  clear: both;
  display: block;
}

/* =====================
header
======================*/
header {
  padding: 20px 0; /* ⭕️わからなかった。高さが足りないと感じてheightを設定していた。だが、この方がコンテンツのサイズが変わっても柔軟に対応できて良いと思う */
}

.header-left {
  float: left;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  float: right;
}

.header-nav-item {
  float: left;
  margin-left: 50px;
}

.header-nav-item a {
  font-weight: 600; /* ⭕️最初 .header-rightの方に記述していて効かずに悩んだ。下層のタグに直接かけると良いのかも */
  line-height: 36px; /* このようにピクセルで指定できることを忘れていた */
  font-size: 15px;
}

/* =====================
top
======================*/
.top {
  background-image: url(../img/main-vsual-nontitle.png); /* ⭕️ファイルのところから相対パスをコピーしたとき、最初の"../"がついていなかったので、うまくいかなかった。相対パスをコピーする際は注意する */
  background-size: cover;
  padding: 80px 0;
}

.top-title {
  text-align: center;
  font-size: 48px; /* ♻️h2だが、左上のh1の文字よりもずっと大きなサイズにしているし、それで自然に見える */
  margin-bottom: 20px;
  font-weight: bold;
}

.top-subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* =====================
section共通クラス
======================*/
.section {
  margin: 60px 0;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

/* =====================
about
======================*/
.about-left {
  float: left;
  width: 48%;
}

.about-right {
  float: right;
  width: 48%;
}

/* =====================
course
======================*/
.couse {
  background-color: #e3fcf4;
}

.course-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-item {
  width: 30%;
}

/* =====================
contact
======================*/
.contact-message {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="text"] {
  display: block;
  width: 600px;
  text-align: center;
  font-size: 18px;
  border-radius: 999px;
  margin: auto; /* ⭕️こんな基本の中央揃えがわからなかった。⭕️text-align: center; と margin: auto; は意識して覚えておこう。テキスト系なら（？）text-align、ブロックならmarginか */
  border: 3px solid #d8d8d8;
  padding: 15px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 20px 60px;
  background-color: #082b48;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn-register {
  display: block;
  background-color: #ec6d64;
  margin: auto;
}

/* =====================
footer
======================*/
footer {
  background-color: #082b48;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  text-align: right;
  font-size: 12px;
}

/* =====================
スマホ用の表示
======================*/
@media screen and (max-width: 767px) {
  /* ウィンドウ幅が767px以下の場合に適用。「タブレットじゃなくなったら」(=「スマホになったら」) */
  /* =====================
  header
  ======================*/
  .header-left {
    float: none;
  }

  .header-title {
    text-align: center; /* ♻️↑の.header-leftにつけていたし、それで問題ないように見えたが、こちらにつけた方が良いのだろうか */
  }

  .header-right {
    float: none;
  }

  .header-nav {
    display: flex;
    justify-content: space-between; /* ⭕️marginを細かく触ったりせず、元のmarginは↓でリセットしつつ、space-betweenで良いように間隔をつけているのが興味深い。これも、幅の変化に対応しやすいものだろう。  ♻️space-betweenは素晴らしいってこと */
  }

  .header-nav-item {
    float: none;
    margin: 0;
  }

  .clear::after {
    /* ここは記述しなくてもうまくいったように見えた。一応教えられた通り記述しておく */
    content: none;
  }

  /* =====================
  top
  ======================*/
  top {
    padding: 120px 0;
  }

  .top-title {
    font-size: 32px;
  }

  .top-subtitle {
    font-size: 14px;
  }

  /* =====================
  section共通クラス
  ======================*/
  .section {
    /* ⭕️レスポンシブ対応をするときは、上から持ってきて、必要なところだけ触ると項目や現在の設定がわかったりしてよいかも。♻️他方本来いらない（触らなくて良い）ものも、見えてしまうのでに触りたくなってしまうかもしれないので注意 */
    margin: 80px 0;
  }

  .section-title {
    font-size: 24px;
    /* ちなみに、セクション見出し（.section-title）の下は、margin-bottomを変更していないので、結構空いているように見えたが、これで良い模様。使ってみるとこれが自然で見やすいのかも */
  }

  .section p {
    font-size: 14px;
  }
  /* =====================
  about
  ======================*/
  .about-left {
    float: none;
    margin-bottom: 10px;
    width: 100%;
  }

  .about-right {
    float: none;
    width: 100%;
  }

  /* =====================
  course
  ======================*/
  .course-item {
    width: 100%;
    margin-bottom: 20px;
  }

  /* =====================
  contact
  ======================*/
  input[type="email"],
  input[type="text"] {
    width: 100%;
  }
  /* ちなみに、bottunのfont-sizeなどは変更しなかった */

  /* =====================
  footer
  ======================*/
  .copyright {
    text-align: center;
    font-size: 10px;
  }
}
